[Unit]
Description=Socat VPN Client

[Service]
Type=simple
EnvironmentFile=/etc/socat-vpn/env
ExecStart=/usr/bin/socat ${DEBUG} TUN:${CLIENT_ADDR},tun-name=${TUN_NAME},iff-up OPENSSL-CONNECT:${HOSTNAME}:${PORT},cert=${CLIENT_CERT},key=${CLIENT_KEY},cafile=${CLIENT_CA},commonName=${COMMON_NAME}
ExecStartPost=/sbin/ip link set dev ${TUN_NAME} mtu ${MTU} ; \
              /sbin/ip rule add table ${TABLE_ID} ; \
              /sbin/ip rule add to ${HOSTNAME} pref ${PRIORITY} ; \
              /sbin/ip rule add to 0.0.0.0/8 pref ${PRIORITY} ; \
              /sbin/ip rule add to 10.0.0.0/8 pref ${PRIORITY} ; \
              /sbin/ip rule add to 100.64.0.0/10 pref ${PRIORITY} ; \
              /sbin/ip rule add to 169.254.0.0/16 pref ${PRIORITY} ; \
              /sbin/ip rule add to 172.16.0.0/12 pref ${PRIORITY} ; \
              /sbin/ip rule add to 192.168.0.0/16 pref ${PRIORITY} ; \
              /sbin/ip rule add to 198.18.0.0/15 pref ${PRIORITY} ; \
              /sbin/ip rule add to 224.0.0.0/4 pref ${PRIORITY} ; \
              /sbin/ip rule add to 255.255.255.255/32 pref ${PRIORITY} ; \
              /bin/sh -c 'ip route add default dev ${TUN_NAME} via $${CLIENT_ADDR%/*} table ${TABLE_ID}'
ExecStopPost=/sbin/ip rule del table ${TABLE_ID} ; \
             /sbin/ip rule del to ${HOSTNAME} pref ${PRIORITY} ; \
             /sbin/ip rule del to 0.0.0.0/8 pref ${PRIORITY} ; \
             /sbin/ip rule del to 10.0.0.0/8 pref ${PRIORITY} ; \
             /sbin/ip rule del to 100.64.0.0/10 pref ${PRIORITY} ; \
             /sbin/ip rule del to 169.254.0.0/16 pref ${PRIORITY} ; \
             /sbin/ip rule del to 172.16.0.0/12 pref ${PRIORITY} ; \
             /sbin/ip rule del to 192.168.0.0/16 pref ${PRIORITY} ; \
             /sbin/ip rule del to 198.18.0.0/15 pref ${PRIORITY} ; \
             /sbin/ip rule del to 224.0.0.0/4 pref ${PRIORITY} ; \
             /sbin/ip rule del to 255.255.255.255/32 pref ${PRIORITY}
Restart=on-failure

[Install]
WantedBy=network-online.target
